########## Configurations to customize ##########

# networking configurations
default_http_proxy=
default_https_proxy=
default_no_proxy="localhost,127.0.0.1"

# ssh_agent configurations
default_ssh_dir="$HOME/.ssh"

# openshift configurations
default_flexy_kubeconfig_url=
default_flexy_destroy_api=
default_ext_cluster_exp_api=
default_target_kubeconfig_dir="$HOME"
default_kubeconfig_download_dir="$HOME/Downloads"
default_jenkins_uname=
default_jenkins_token=
